<h2>Dernières créations</h2>
<div class="diaporama padding-m">
    {% for item in items %}
      <div class="card padding-m">
          <div class="card-image">
              <img src="{{ item.photoUrl }}" alt="...">
              <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">shopping_cart</i></a>
          </div>
          <div class="card-content">
              <p>{{ item.descrCrea }}</p>
          </div>
      </div>
    {% endfor %}
</div>