<ul class="collapsible" data-collapsible="accordion">
    {% for comment in comments %}
        <li>
            <div class="collapsible-header">
                <div class="chip">
                    <img src="/public/images/default-avatar.png" alt="Contact Person">
                    {{ comment.signlivr }}
                </div>
            </div>
            <div class="collapsible-body">
                <p>{{ comment.msgliv }}</p>
                <p class="right">{{ comment.datliv|date('d/m/Y') }}</p>
            </div>
        </li>
    {% endfor %}
</ul>


