{% extends 'base.html.twig' %}

{% block body %}
    <div class="row homepage-body">
        <div class="col s7 m7">
            {{ render_esi(url("carousel")) }}
        </div>

        <div class="col s5 m5">
            <div>
                {{ render_esi(url("guest-book")) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts 'assets/app/js/home.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

